.header {
	background-color: #FF4400;
	color: #000000;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 8px;
}

.PageTitle {
	font-family: "Outfit" sans-serif;
	font-weight: 900;
	font-size: 80px;
	font-style: normal;
	color: #ffffff;
}

.byLine {
	font-family: "Montserrat" sans-serif;
	font-weight: 100;
	font-size: 15px;
	font-style: italic;
	color: #000000;
	text-align: right;
}

.story {
	background-color: #ff4400;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 5px;
}

.storyheader {
	font-family: "Outfit" sans-serif;
	font-weight: 800;
	font-size: 40px;
	font-style: normal;
	color: #000000;
}

.image {
	border-style: solid;
	border-width: 4px;
	border-color: #ffffff;
}

.imagecaption {
	font-family: "Montserrat" sans-serif;
	font-weight: 300;
	font-size: 15px;
	font-style: normal;
	color: #000000;
	text-align: left;
	margin-top: 10px;
}

.storytext {
	font-family: "Outfit" sans-serif;
	font-weight: 800;
	font-size: 15px;
	font-style: normal;
	color: #ffffff;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}