body {
  background-color:#ffffff;
}

.headerBox {
  background-color: #e21833;
  color: #ffffff;
  text-align: center;
  font-family: "Alfa Slab One", serif;
  font-weight: 250;
  font-style: normal;
  font-size: 50px;
  padding: 0.5px 0px 1px 0px;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  margin-top: -75px;
  margin-bottom: 50px;
}

.FirstImage {
  margin: 25px 20px 20px 20px;
}

.openingPgph {
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #000000;
  margin-right: 10px;
}

.openingPgphTitle {
  color: #000000;
  text-align: left;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  margin-top: 20px;
}

.QueenJujuOpening {
  color: #000000;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 37px;
  margin-top: -30px;
}

.QueenJujuUpbringing {
  color: #000000;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12.5px;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.DQSeason {
  background-color: #000000;
}

.JuJuSeason {
  background-color: #000000;
}

.QueenDunk {
  margin: 25px 20px 20px 25px;
}


.JujuDribbles {
  margin: 25px 20px 20px 25px;
}

.DQStatTitle {
   color: #ffffff;
  text-align: left;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  margin-top: 20px;
  padding-top: 15px;
}

.JuJuStatTitle {
   color: #ffffff;
  text-align: right;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  margin-top: 20px;
  padding-top: 15px;
}

.DQStats {
  color: #fff000;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  margin-top: -25px;
  padding-bottom: 15px;
  border-right-width: 5px;
  border-right-style: solid;
  margin-right: 25px;
  margin-bottom: 15px;
}

.JuJuStats {
  color: #fff000;
  text-align: right;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  margin-top: -25px;
  padding-bottom: 15px;
  border-left-width: 5px;
  border-left-style: solid;
  margin-left: 25px;
  margin-bottom: 15px;
}

.TerpsSeason {
  background-color: #e21833;
}

.TerpsSeasonTitle {
  color: #ffffff;
  text-align: left;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 75px;
  margin-top: -50px;
  margin-left: 25px;
  padding-left: 20px;
  padding-top: 2px;
}

.TerpsSeasonDescription {
  color: #fff000;
  text-align: left;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  margin-top: -40px;
  padding-bottom: 15px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.bottomImage {
  padding: 40px 40px 40px 5px;
  margin-bottom: -5px;
}

.finalSection {
  background-color: #ffffff;
}

.finalSectionTitle {
  color: #000000;
  text-align: center;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 100px;
}

a {color: #000000; text-decoration: none}
a:hover {color: #fff000; text-decoration: none}

.SecondPageTitle {
  padding: 5px 5px 5px 5px;
}

.QueenScreams {
  padding: 30px 30px 30px 30px;
}

.ReeseImage {
  padding: 30px 30px 30px 30px;
}

.QueenNBATitle {
   color: #000000;
  text-align: center;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 27px; 
}

.QueenNBA {
  color: #000000;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  margin-top: -15px;
  margin-bottom: -12px;
}